/* Add your CSS styles here */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
}

header, footer {
    background-color: #834c3f;
    color: #fff;
    padding: 20px;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline;
    margin-right: 10px;
}

main {
    padding: 20px;
}

section {
    margin-bottom: 30px;
}

h1, h2, h3 {
    margin-top: 0;
}

img {
    max-width: 100%;
    height: auto;
}

.project-image {
    max-width: 50%;
    height: auto;
}
